@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --font-family: 'Bruno Ace SC', cursive;
    --color-bg: #040C18;
    --color-text: #81AFDD;
    --color-border: #FF8A71;

}